.page-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ol {
    max-width: 350px;
    width: 100%;
    padding-left: 15px;
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
  }
}