.collapsed-block {
  .collapsed {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    background: white;
    padding: 5px 0;
  
    &.close {
      display: none;
    }
    
    &.open {
      display: block;
    }
  
    .owner {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  
  button {
    border: none;
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #4E4E4E;
    }
  }
}
